<div class="main">
  <form class="content">
    <h1>Editar Sintoma</h1>

    <div id="id">
      <label for="id">Id </label><br />
      <input type="text" name="id" [(ngModel)]="id" />
    </div>

    <div id="nome">
      <label for="nome">Nome: </label><br />
      <input type="text" name="nome" [(ngModel)]="nome" />
    </div>

    <div id="grauIntensidade">
      <label for="grauIntensidade">Grau Intensidade: </label><br />
      <input type="text" name="grauIntensidade" [(ngModel)]="grauIntensidade" />
    </div>

    <div>
      <button (click)="editar()">Editar</button>
      <button class="v"><a routerLink="">Voltar</a></button>
    </div>
  </form>
</div>
