<div>

<h3>Selecione a opção desejada:</h3>
<a routerLink="/convenio/cadastrar">Cadastrar convênio</a><br>
<a routerLink="/convenio/listar">Listar convênios</a><br>
<a routerLink="/convenio/editar">Editar convênio</a><br>
<a routerLink="/enfermeiro/cadastrar">Cadastrar enfermeiro</a><br>
<a routerLink="/enfermeiro/listar">Listar enfermeiros</a><br>
<a routerLink="/enfermeiro/editar">Editar enfermeiro</a><br>
<a routerLink="/paciente/cadastrar">Cadastrar paciente</a><br>
<a routerLink="/paciente/listar">Listar pacientes</a><br>
<a routerLink="/paciente/editar">Editar paciente</a><br>
<a routerLink="/sintoma/cadastrar">Cadastrar sintoma</a><br>
<a routerLink="/sintoma/listar">Listar sintomas</a><br>
<a routerLink="/sintoma/editar">Editar sintoma</a><br><br>
</div>