<div class="main">
    <form class="content">
      <h1>Cadastrar Triagem</h1>
  
      <!-- <div id="enfermeiro">
        <label for="enfermeiro">Enfermeiro: </label><br />
        <input type="text" name="enfermeiro" [(ngModel)]="enfermeiroId" />
      </div> -->
      
      <div id="paciente">
        <label for="paciente">Paciente</label><br />
        <select name="paciente" [(ngModel)]="pacienteId" name="paciente">
          <option *ngFor= "let paciente of pacientes" value="{{paciente.id}}">{{paciente.nome}}</option>
        </select>
      </div>

      <!-- <div id="paciente">
        <label for="paciente">Paciente: </label><br />
        <input type="text" name="paciente" [(ngModel)]="pacienteId" />
      </div> -->

      <div id="sintoma">
        <label for="sintoma">Sintoma: </label><br />
        <input type="text" name="sintoma" [(ngModel)]="sintomaId" />
      </div>

      <div id="gravidade">
        <label for="gravidade">Gravidade: </label><br />
        <input type="text" name="gravidade" [(ngModel)]="gravidadeId" />
      </div>
  
      <div>
        <button (click)="cadastrar()">Cadastrar</button>
        <button class="v"><a routerLink="">Voltar</a></button>
      </div>
      
    </form>
  </div>
  