<h1> Sintomas Cadastrados</h1>

<table>
    <tr>
      <th>Nome</th>
      <th>Grau de Intensidade</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
    <tr *ngFor="let sintoma of sintomas">
        <td>{{ sintoma.nome }}</td>
        <td>{{ sintoma.grauIntensidade }}</td>
        <td><a routerLink="/sintoma/editar">Editar Sintoma</a></td>

        <td><button (click)="deletar(sintoma.id)">Deletar</button></td>
     </tr>
</table>
<br>
<a routerLink="/sintoma/cadastrar">Clique aqui para cadastrar um novo sintoma</a>
