<h1> Sintomas Cadastrados</h1>

<table>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Grau de Intensidade</th>
      <th>Excluir</th>
    </tr>
    <tr *ngFor="let sintoma of sintomas">
        <td>{{ sintoma.id }}</td>
        <td>{{ sintoma.nome }}</td>
        <td>{{ sintoma.grauIntensidade }}</td>

        <td><button (click)="deletar(sintoma.id)">Deletar</button></td>
     </tr>
</table>
<br>
<button class="c"><a routerLink="/sintoma/cadastrar">Cadastrar novo sintoma</a></button>

<button class="v"><a routerLink="">Voltar</a></button>
