<h1> Pacientes Cadastrados</h1>

<table>
    <tr>
      <th>Convênio Id</th>
      <th>Nome </th>
      <th>Sobrenome</th>
      <th>CPF</th>
      <th>Idade</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Endereço</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
    <tr *ngFor="let paciente of pacientes">

        <td>{{ paciente.convenioId}}</td>
        <td>{{ paciente.nome }} </td>
        <td>{{ paciente.sobrenome }}</td>
        <td>{{ paciente.cpf }}</td>
        <td>{{ paciente.idade }}</td>
        <td>{{ paciente.telefone }}</td>
        <td>{{ paciente.email }}</td>
        <td>{{ paciente.endereco }}</td>
        <td><a routerLink="/paciente/editar/{{ paciente.id }}">Editar paciente</a></td>
    
        <td><button (click)="deletar(paciente.id)">Deletar</button></td>   
        
     </tr>
</table>
<br>
<button class="c"><a routerLink="/paciente/cadastrar">Cadastrar novo paciente</a></button>

<button class="v"><a routerLink="">Voltar</a></button>

