<h1> Editar convênio:</h1>

<div id="id">
    <label for="id">Id</label><br>
    <input type="text" name="id" [(ngModel)] = "id"/>
</div>

<div id="nome">
    <label for="nome">Nome</label><br>
    <input type="text" name="nome" [(ngModel)] = "nome"/>
</div>

<div id="endereco">
    <label for="endereco">Endereço</label><br>
    <input type="text" name="endereco" [(ngModel)] = "endereco"/>
</div>

<div id="telefone">
    <label for="telefone">Telefone</label><br>
    <input type="text" name="telefone" [(ngModel)] = "telefone"/>
</div>


<button (click)="editar()">Editar</button>
