<h1>Convênios Cadastrados</h1>

<table>
    <tr>
      <th>Convênio</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <!-- <th>Editar</th> -->
      <th>Deletar</th>
    </tr>
    <tr *ngFor="let convenio of convenios">
        <td>{{ convenio.nome }} </td>
        <td>{{ convenio.endereco }}</td>
        <td>{{ convenio.telefone }}</td>
        <!-- <td><a routerLink="/convenio/editar/{{ convenio.id }}">Editar</a></td>  -->
        <td><button (click)="deletar(convenio.nome)">Deletar</button></td>           
     </tr>
</table>
<br>
<button class="c"><a routerLink="/convenio/cadastrar">Cadastrar um novo convênio</a></button>

<button class="v"><a class="v" routerLink="">Voltar para o menu principal</a></button>



