<h1> Atendimentos Cadastrados</h1>

<table>
    <tr>
      <th>Id</th>
      <th>Paciente</th>
      <th>Enfermeiro</th>
    </tr>
    <tr>
      <!-- *ngFor="let atendimento of atendimentos"
        <td>{{ atendimento.id }}</td>
        <td>{{ atendimento.paciente }}</td>
        <td>{{ atendimento.enfermeiro }}</td> -->

     </tr>
</table>
<br>
<button class="c"><a routerLink="/atendimento/cadastrar">Cadastrar novo atendimento</a></button>

<button class="v"><a routerLink="">Voltar</a></button>
