<h1> Triagens Cadastradas</h1>

<table>
    <tr>
      <th>Id</th>
      <th>Paciente</th>
      <th>Nível de Prioridade</th>
      <th>Sintomas</th>
    </tr>
    <tr>
      <!-- *ngFor="let triagem of triagens" -->
        <!-- <td>{{ triagem.id}}</td>
        <td>{{ triagem.paciente}}</td>
        <td>{{ triagem.enfermeiro}}</td>
        <td>{{ triagem.sintoma }}</td> 
        <td>{{ triagem.gravidade }} </td> -->
        
     </tr>
</table>
<br>
<button class="c"><a routerLink="/triagem/cadastrar">Cadastrar nova triagem</a></button>

<button class="v"><a routerLink="">Voltar</a></button>


