<div class="main">
  <form class="content">
    <h1>Cadastrar Sintoma</h1>

    <div id="paciente">
      <label for="paciente">Paciente: </label><br />
      <input type="text" name="paciente" [(ngModel)]="paciente" />
    </div>

    <div id="enfermeiro">
      <label for="enfermeiro">Enfermeiro</label><br />
      <select name="enfermeiro" [(ngModel)]="enfermeiroId" name="enfermeiro">
        <option *ngFor= "let enfermeiro of enfermeiros" value="{{enfermeiro.id}}">{{enfermeiro.nome}}</option>
      </select>
    </div>

    <div>
      <button (click)="cadastrar()">Cadastrar</button>
      <button class="v"><a routerLink="">Voltar</a></button>
    </div>
    
  </form>
</div>
