<h1> Cadastrar novo enfermeiro:</h1>

<div id="matricula">
    <label for="matricula">Matrícula</label><br>
    <input type="text" name="matricula" [(ngModel)] = "matricula"/>
</div>

<div id="nome">
    <label for="nome">Nome</label><br>
    <input type="text" name="nome" [(ngModel)] = "nome"/>
</div>

<div id="sobrenome">
    <label for="sobrenome">Sobrenome</label><br>
    <input type="text" name="sobrenome" [(ngModel)] = "sobrenome"/>
</div>

<div id="cpf">
    <label for="cpf">Cpf</label><br>
    <input type="text" name="cpf" [(ngModel)] = "cpf"/>
</div>

<div id="datanascimento">
    <label for="datanascimento">Idade</label><br>
    <input type="text" name="datanascimento" [(ngModel)] = "datanascimento"/>
</div>

<div id="telefone">
    <label for="telefone">Telefone</label><br>
    <input type="text" name="telefone" [(ngModel)] = "telefone"/>
</div>

<div id="email">
    <label for="email">E-mail</label><br>
    <input type="text" name="email" [(ngModel)] = "email"/>
</div>

<div id="endereco">
    <label for="endereco">Endereço</label><br>
    <input type="text" name="endereco" [(ngModel)] = "endereco"/>
</div><br>

<button (click)="cadastrar()">Cadastrar</button>




