/* You can add global styles to this file, and also import other style files */
body{
background-color: rgba(255, 192, 203, 0.562);

}
h1{
    color: palevioletred;
    text-align: center;
}


.main{
    background-color: pink;
    margin: auto;    
    width: 800px;
    border-radius: 5px;
    padding-bottom: 20px;
    
}

.content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 500px;
    margin: auto;
    padding: 10px;
    
}

.content > div{

    margin: 10px;
    color: palevioletred;
    font-weight: bolder;
}

input{
    width: 450px;
    border-color: azure;
}


button{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;  
    color: palevioletred;
    background-color: aliceblue;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border-color: pink;
    margin: auto;
    
}


/* 
table {
    
    font-family: arial, sans-serif;
    width: 100%;
}
  
td, th {
    border: 1px solid palevioletred;
    text-align: left;
    padding: 8px;
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: rgba(216, 112, 147, 0.452);
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;  
    color: palevioletred;
    background-color: aliceblue;
}

label{
    text-align: center;
    font-size: 30px;
    color: palevioletred;
}

div{

    text-align: center;

} */
